In [64]:
import pandas as pd

In [65]:
s = pd.Series(data=[100,'a',{'dic1:5'}],
index=pd.Index(['id1',20,'third'],name='my_idx'),
dtype='object',
name='my_name')

In [66]:
s2 = pd.Series([100,'a',{'dic1:5'}])

In [67]:
s2.shape[0]

3

In [68]:
d = {
    "英语": pd.Series([1.0, 2.0, 3.0], index=["a", "b", "c"]),
    "语文": pd.Series([1.0, 2.0, 3.0, 4.0], index=["a", "b", "c", "d"]),
}
df = pd.DataFrame(d)

In [69]:
books = {
    '作者':pd.Series(['余华','残雪','莫言']),
    '作品名称':pd.Series(['活着','暗夜','红高粱'])
}
df2 = pd.DataFrame(books)

In [70]:
# 数据框的行索引
i = df2.index.values

In [71]:
# 获取df值
df2.作者

0    余华
1    残雪
2    莫言
Name: 作者, dtype: object

In [72]:
df2[['作品名称','作者']]

  作品名称  作者
0   活着  余华
1   暗夜  残雪
2  红高粱  莫言

In [73]:
df2.index

RangeIndex(start=0, stop=3, step=1)

In [74]:
# 设置行索引
gzmt = pd.read_csv(R'data\600519.csv')

In [75]:
gzmt.set_index('day')

            STOCK_CODE    open   close  maximum  minimum  volume     TURNOVER
day
2001-08-27     6005191   34.51   35.55    37.78    32.85  406318   1410347008
2001-08-28     6005191   34.99   36.86    37.00    34.61  129647    463463008
2001-08-29     6005191   36.98   36.38    37.00    36.10   53252    194689000
2001-08-30     6005191   36.28   37.10    37.51    36.00   48013    177558000
2001-08-31     6005191   37.15   37.01    37.62    36.80   23231     86231000
...                ...     ...     ...      ...      ...     ...          ...
2018-10-29     6005191  549.09  549.09   549.09   549.09   49076   2694714080
2018-10-30     6005191  510.00  524.00   543.00   509.02  204397  10663392512
2018-10-31     6005191  527.00  548.90   555.00   522.00   96885   5239853056
2018-11-01     6005191  555.00  563.00   585.50   551.25   98107   5581027328
2018-11-02     6005191  585.00  599.90   600.00   572.24   89157   5227695104

[4094 rows x 7 columns]